# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Activate Etheratom'
      'command': 'eth-interface:activate'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Etheratom'
      'submenu': [
            {
            'label': 'Toggle view'
            'command': 'eth-interface:toggle'
            }
            {
              'label': 'Compile code'
              'command': 'eth-interface:compile'
            }
      ]
    ]
  }
]
