# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-solidity'
      'command': 'atom-solidity:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Solidity Compiler'
      'submenu': [
        {
          'label': 'Compile'
          'command': 'atom-solidity:compile'
        }
        {
          'label': 'Build'
          'command': 'atom-solidity:build'
        }
        {
          'label': 'Togggle view'
          'command': 'atom-solidity:toggle'
        }
      ]
    ]
  }
]
