# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
    'ctrl-alt-e': 'eth-interface:activate'
    'ctrl-alt-c': 'eth-interface:compile'
    'ctrl-alt-v': 'eth-interface:toggle'
    'atom-text-editor[data-grammar~="solidity"]:not([mini])': 'ctrl-alt-e': 'eth-interface:activate'
    'atom-text-editor[data-grammar~="vyper"]:not([mini])': 'ctrl-alt-e': 'eth-interface:activate'
