// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

select {
    border-color: #181a1f;
}

.atom-solidity {
    padding: 10px;
    overflow: scroll;
}
.red-message {
    color: @text-color-error;
}
.green-message {
    color: @text-color-success;
}
.compiler-info {
    font-family: 'Hack', Serif;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
}
// Color variables (appears count calculates by raw css)
@color-bg: #2c313a;
@color-br: #181a1f;
@color-bg-child: #3a3f4b;
// Height variables (appears count calculates by raw css)
@height-max: 312px;
#accounts-list {
	text-align: center;
	display: block;
	select {
        font-size: large;
		background-color: @color-bg;
		border: 1px solid @color-br;
		margin: 10px 0 0 0;
		max-height: @height-max;
		overflow-y: auto;
		padding: 0;
		position: relative;
		option {
			background-color: @color-bg-child;
			border: 1px solid @color-br;
			margin: 10px 0 0 0;
			max-height: @height-max;
			overflow-y: auto;
			padding: 0;
			position: relative;
            line-height: 2em;
		}
	}
}

.input {
    background-color: @pane-item-background-color;
    border: solid 1px @pane-item-border-color;
    font-size: initial;
    margin: 2px;
}
.inputs {
    background-color: @input-background-color;
    border: solid 1px @input-border-color;
    font-weight: lighter;
    font-size: initial;
}
.contract-display {
    border-bottom: solid 2px @base-border-color;
    margin-bottom: 8px;
    padding: 5px;
}
.contract-name {
    margin: 2px 0;
    pading: 2px 0;
}
.large-code {
    max-width: 500px;
    max-height: 150px;
    margin: 10px 5px;
}
::selection {
    background-color: @background-color-selected;
}
.call-button {
    background-color: @pane-item-background-color;
    border: solid 1px @pane-item-border-color;
    font-size: initial;
    margin: 2px;
}
.call-button-values {
    background-color: @input-background-color;
    border: solid 1px @input-border-color;
    font-weight: lighter;
    font-size: initial;
    margin: 2px 2px 2px 0;
}
.stat-sent {
    display: block;
}
.stat-thash {
    display: block;
}
.stat-mining {
    display: inline;
}
.stat-mining-align {
    vertical-align: middle;
}
